h1 {
    color: rgb(239, 68, 0);
    background-color: black;
    margin: 0px;
    padding-bottom: 20px;
    width: 100%
}

.special {
	font-weight: bold;
}

img {
	width: 100%
}

a:hover {
	color: rgb(239, 68, 0);
}

a {
	font-weight: bold;
}

.button {
  font: bold 60px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
